.deleteTrademarkModal {

  .deleteTrademarkTable {
    margin: 12px 0;

    .noDataDisplay {
      width: 150px;
      height: 150px;
    }
  }

  .btnContainer {
    display: flex;
    gap: 8px;
    justify-content: flex-end;
  }

  :global {
    .semi-modal-content {
      padding: 24px;
    }
  }
}