.addSupplierModal {

  .supplierForm {

    .phoneNumberInputGroup {
      flex-wrap: nowrap;
      width: 100%;

      :global {
        .semi-input-wrapper {
          flex: 1;
        }
      }
    }
  }

  :global {
    .semi-modal-content {
      padding: 24px;
    }

    .semi-modal-footer {
      margin: 0;
    }
  }
}